
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

:root{
    --White:hsl(0, 0%, 100%);

--stone100: hsl(30, 54%, 90%);
--stone150: hsl(30, 18%, 87%);
--stone600: hsl(30, 10%, 34%);
--stone900: hsl(24, 5%, 18%);

--brown800: hsl(14, 45%, 36%);

--rose800: hsl(332, 51%, 32%);
--rose50: hsl(330, 100%, 98%);
}

body {
    font-family: "Outfit", sans-serif;
    background-color: var(--stone100);
    color: var(--stone600);
    line-height: 30px;
    font-size: 20px;
}


h1 {
     font-family: "Young Serif", serif;
     letter-spacing: 1px;
     font-weight: 500;
     font-size: 30px;
     color: var(--stone900);
}

main {
    margin: 0 auto;
    background-color: var(--White);
    width: 900px;
    border-radius: 25px;
    padding: 30px;

}


img {
    width: inherit ;/*zdedí šírku po rodičovi*/
    border-radius: inherit;
    margin-bottom: 30px;
}

 h2 {
    color: var(--brown800);
    font-family: "Young Serif", serif;

 }

 .priprava_h2 {
    color: var(--rose800);
    font-family: "Outfit", serif;
    font-weight: 600;
    font-size: 25px;
    background-color: var(--rose50);
    padding-left: 20px;
 }

 .priprava {
    background-color: var(--rose50);
    padding-left: 20px;
 }

.tabulka_strong {
    color: var(--brown800);
    font-family: "Outfit", serif;

}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    padding: 15px;
    border-bottom: 1px solid var(--stone600);
    
}